argon2-cffi 
asgiref 
asn1crypto 
backcall 
certifi 
cffi 
chardet 
charset-normalizer 
confusable-homoglyphs 
crispy-bootstrap5 
cryptography 
decorator 
defusedxml 
dj-database-url 
Django 
django-allauth
django-configurations 
django-crispy-forms
django-debug-toolbar 
django-registration 
idna
ipython 
ipython_genutils 
jedi 
keyring 
keyrings.alt 
netifaces 
oauthlib 
parso 
pexpect 
pickleshare 
prompt-toolkit 
pycparser 
pycrypto 
Pygments 
PyGObject 
PyJWT 
python-apt 
distutils-extra-python 
python3-openid 
pytz 
pyxdg 
PyYAML 
requests 
requests-oauthlib 
SecretStorage 
simplegeneric 
six 
sqlparse 
ssh-import-id 
traitlets 
typing-extensions 
urllib3 
wcwidth 
djangorestframework 
drf-yasg 
django-versatileimagefield
