pathlib argon2-cffi asgiref asn1crypto backcall certifi cffi chardet charset-normalizer confusable-homoglyphs cryptography decorator defusedxml Django django-allauth django-crispy-forms django-debug-toolbar django-registration idna ipython ipython_genutils jedi keyring keyrings.alt netifaces oauthlib parso pexpect pickleshare prompt-toolkit pycparser pycrypto Pygments PyGObject PyJWT python3-openid pytz pyxdg PyYAML requests requests-oauthlib SecretStorage simplegeneric six sqlparse traitlets urllib3 wcwidth djangorestframework
